.buttonBack {
  background-color: #1890ff; // Cor de fundo azul
  color: white; // Cor do texto branca
  padding: 10px 20px; // Espaciamento interno (10px vertical e 20px horizontal)
  border: none; // Remove a borda
  border-radius: 5px; // Borda arredondada
  cursor: pointer; // Cursor em forma de mão ao passar o mouse

  // Efeito ao passar o mouse
  &:hover {
    background-color: #40a9ff; // Azul mais claro no hover
  }
}
