/* Garantir que o fundo cubra toda a página */
html, body {
  height: 100%; /* Garantir que a altura da página seja 100% */
  margin: 0;    /* Remover margens */
}

.pageContainer {
  background-image: url(../../assets/fundovermelho.jpg); /* Caminho para a imagem */
  background-size: cover; /* Fazendo com que a imagem cubra toda a área */
  background-position: center; /* Centralizando a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  min-height: 100vh; /* A altura mínima será a altura da tela */
  display: flex; /* Usando flexbox para organizar o layout */
  flex-direction: column; /* Empilha os elementos na vertical */
  justify-content: flex-start; /* Garante que os itens sejam alinhados no topo */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  padding: 10px; /* Adiciona um pequeno espaço de padding */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do texto */
  text-align: center; /* Alinha o título ao centro */
}

/* Estilo para a tabela */
.ant-table {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente para a tabela */
  width: 100%; /* Faz a tabela ocupar 100% da largura disponível */
  max-width: 1200px; /* Limita a largura da tabela a 1200px */
  margin-bottom: 20px;
}

/* Coloração do cabeçalho da tabela */
.ant-table th {
  background-color: #ff1100;
  color: rgb(233, 114, 114);
}

/* Estilizando as células da tabela */
.ant-table td {
  font-size: 14px;
  padding: 12px;
}

/* Estilo para as linhas alternadas da tabela */
.ant-table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

/* Estilo para a paginação */
.ant-pagination {
  margin-top: 20px;
}
