/* Garantir que o fundo cubra toda a página */
html, body {
  height: 100%; /* Garantir que a altura da página seja 100% */
  margin: 0;    /* Remover margens */
}

/* Estilo para o botão de navegação para a Home */
.buttonContainer {
  margin-top: 20px; /* Adiciona um espaçamento acima do botão */
  margin-bottom: 20px; /* Adiciona um espaçamento abaixo do botão */
}

.pageContainer {
  background-image: url(../../assets/fundovermelho.jpg); /* Caminho para a imagem */
  background-size: cover; /* Fazendo com que a imagem cubra toda a área */
  background-position: center; /* Centralizando a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  min-height: 100vh; /* A altura mínima será a altura da tela */
  display: flex; /* Usando flexbox para organizar o layout */
  flex-direction: column; /* Empilha os elementos na vertical */
  justify-content: flex-start; /* Garante que os itens sejam alinhados no topo */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  padding: 10px; /* Adiciona um pequeno espaço de padding */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do texto */
  text-align: center; /* Alinha o título ao centro */
}

/* Estilo para a tabela */
:global(.ant-table) {
  margin-top: 20px;
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  background-color: #f7f7f7; /* Altere para o fundo desejado */
  width: 100%; /* Faz a tabela ocupar 100% da largura disponível */
  max-width: 1200px; /* Limita a largura da tabela a 1200px */
  margin-bottom: 20px;
  overflow-x: auto; /* Permite rolar horizontalmente em telas menores */
}

/* Coloração do cabeçalho da tabela */
:global(.ant-table-thead > tr > th) {
  background-color: #ff1100 !important; /* Cor vermelha para o cabeçalho */
  color: white !important; /* Cor do texto em branco */
  text-align: center; /* Centraliza o texto */
  padding: 16px 12px; /* Ajuste no padding */
  font-weight: bold; /* Deixa o texto mais em negrito */
}

/* Estilizando as células da tabela */
:global(.ant-table-tbody > tr > td) {
  font-size: 14px;
  padding: 12px;
  text-align: center;
  background-color: #ffffff; /* Cor do fundo das células */
}

/* Estilo para as linhas alternadas da tabela */
:global(.ant-table-tbody > tr:nth-child(odd) > td) {
  background-color: #f9f9f9; /* Cor para linhas alternadas */
}

/* Estilo para a paginação */
:global(.ant-pagination) {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
