// Estilo de fundo da página (background)
.background {
  background-image: url("../../assets/background.jpg"); // Caminho para a imagem de fundo
  background-size: cover; // Faz a imagem de fundo cobrir toda a área disponível
  background-position: center; // A imagem ficará centralizada na tela
  background-repeat: no-repeat; // Impede que a imagem se repita
  min-height: 100vh; // Garante que a altura mínima da tela seja de 100% da altura da janela
  display: flex; // Utiliza flexbox para alinhar os itens
  justify-content: center; // Alinha os itens horizontalmente no centro
  align-items: center; // Alinha os itens verticalmente no centro
}

// Estilo para a tabela
.table {
  width: 100%; // A tabela ocupará 100% da largura do container
  border-radius: 8px; // Cantos arredondados na tabela
  overflow: hidden; // Impede que os itens da tabela ultrapassem os limites da borda arredondada
}

// Estilos para o cabeçalho da tabela (ant-table-thead)
.table :global(.ant-table-thead > tr > th) {
  background-color: #1890ff; /* Azul do Ant Design como fundo */
  color: white; // Texto branco para contraste
  font-weight: bold; // Deixa o texto em negrito
  text-align: center; // Alinha o texto no centro das células de cabeçalho
}

// Estilos para as células do corpo da tabela (ant-table-tbody)
.table :global(.ant-table-tbody > tr > td) {
  text-align: center; // Alinha o texto das células no centro
}

// Estilos específicos para o botão de voltar
.buttonBack {
  margin-bottom: 20px; /* Espaço de 20px abaixo do botão */
  background-color: #1890ff; /* Cor de fundo do botão (azul Ant Design) */
  border-color: #1890ff; /* Cor da borda do botão */
  color: white; /* Cor do texto do botão */
  font-weight: bold; /* Texto em negrito */
  padding: 8px 16px; /* Tamanho do botão (8px de altura e 16px de largura) */
  border-radius: 4px; /* Bordas com cantos arredondados */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave ao passar o mouse sobre o botão */

  &:hover {
    background-color: #40a9ff; /* Cor de fundo do botão ao passar o mouse */
    border-color: #40a9ff; /* Cor da borda do botão ao passar o mouse */
  }
}
